/* 隐藏滚动条但保留滚动功能 */
.chat-bubble-list::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}

.chat-bubble-list {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}